/* --- HEADER --- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.4rem;
}

/* --- NAVIGATION --- */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  color: white;
  border-radius: 8px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* --- HERO --- */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.2rem;
}

.hero-overview {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-meals-customers {
  display: flex;
}

.delivered-meals-customers img {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  /* overlap */
  margin-right: -1.6rem;
}

.delivered-meals-customers img:last-child {
  margin: 0;
}

.delivered-meals-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals-text span {
  color: #cf711f;
  font-weight: 700;
}

.hero-image {
  width: 100%;
}

/* --- HOW IT WORKS --- */
.section-how-it-works {
  padding: 9.6rem 0;
}

.step-number {
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-image-box::before,
.step-image-box::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-image-box::before {
  width: 60%;
  /* height: 60px; */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-image-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-image {
  width: 35%;
}

/* --- HELPER --- */
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
